/* your code */


.item{
	/*background-color:blue;*/
}
	tr {
		border: 2px sold blue;
		/*background-color:blue;*/
	}
td, th {
	border:2px solid red;
}

table {
	border-collapse:collapse;
	width:100%;
	height:200px;
}
.test{
	text-align:center;
}
